main{
    width: 83.33%;
    margin-left: 8.33%;
    margin-top: 15vh;
}

.redirect{
    margin-top: 5%;
}

.info{
    float: left;
    margin-top: 2%;
}

.edit{
    float: left;
    margin-bottom: 2%;
    margin-left: 5%;
}

@media only screen and (min-width:768px){
    main{
        width: 50%;
        margin-left: 25%;
    }
}